@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&family=Comfortaa:300,regular,500,600,700&family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-bitter: "Bitter", serif;
  --font-comfortaa: "Comfortaa", sans-serif;
}

@layer base {
  /* html {
    font-size: 62.5%;
  } */

  /* @media (max-width: 1024px) {
    html {
      font-size: 59%;
    }
  } */

  /* body {
    @apply text-gray-300;
  } */

  a {
    @apply no-underline;
  }
}

.special-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  color: #ddd;
}

html {
  font-size: 62.5%;
} */

/* .container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #b88efc, #6877f4);
  display: grid;
  place-items: center;
}

.news-blogs-app {
  width: 95vw;
  height: 95vmin;
  background-color: #060709;
  box-shadow: 0 2rem 3rem rgba( 0, 0, 0.5);
  border-radius: 1rem;
} */
